.header{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.scrolled{
    background-color: rgba(0, 0, 0, 0.762);
    transition: .2s linear;
}