.header {
  position: fixed;
  width: 100%;
  min-height: 70px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(16px, 5vw, 80px);
  transition: background 0.2s linear;

  .logo {
    height: 30px;
    display: flex;
    align-items: center;
  }
}

// nav styling when scrolling
.scrolled {
  background-color: rgba(0, 0, 0, 0.85);
}

// responsiveness
@media (max-width: 590px) {
  .header {
    flex-direction: row; 
    justify-content: space-between;
    padding: 10px clamp(16px, 5vw, 80px);
  }
}
