.menuPage {
  padding: 100px 50px;
  position: relative;

  // filter
  .noiseFilter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/Hero/noise.png") repeat;
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
  }

  .progressRing {
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;

    &:hover {
      transform: translateY(-5px);
      transition: transform 0.3s;
    }
  }

  .show {
    opacity: 1;
    pointer-events: auto;
  }

  // title
  .menuTitleContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;

    h2 {
      font-size: clamp(20px, 5vw, 50px);
      color: var(--gold);
    }

    h3 {
      font-size: clamp(20px, 3vw, 50px);
    }

    p {
      font-weight: 300;
    }
  }

  // MAIN MENU
  .mainMenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    h2 {
      text-align: center;
      color: var(--gold);
      font-size: clamp(30px, 4vw, 40px);
    }

    .categoryDecoration {
      position: relative;
      height: 20px;
      margin: 20px 0;
    }

    .menuDecorationImg {
      object-fit: contain;
      pointer-events: none;
    }
  }

  // DRINKS SECTION
  .drinksSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .drinkCategory {
      min-width: 350px;
      box-sizing: border-box;
      padding: 20px;

      h2 {
        text-align: left;
      }
    }
  }

  .foodCategory,
  .drinkCategory {
    scroll-margin-top: 110px;
  }

  // WHITE
  .variant0 {
    background: var(--white);
    color: var(--black);

    h2 {
      color: var(--gold);
    }
  }

  // BLACK
  .variant1 {
    background: var(--black);
    color: var(--white);
    border: 0.5px solid var(--white);

    h2 {
      color: var(--gold);
    }
  }

  // GOLD
  .variant2 {
    background: var(--gold);
    color: var(--black);

    h2 {
      color: var(--black);
    }
  }
}
