.menuItemCard {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    max-width: 900px;
    margin: 0 auto;

    // 📱 MOBILE
    @media (max-width: 768px) {
        flex-direction: column;
    }

    // image
    .menuItemImgWrapper {
        position: relative;
        height: 150px;
        width: 250px;
        overflow: hidden;

        @media (max-width: 768px) {
            width: 100%;
            height: 200px;
        }

        .menuItemImg {
            object-fit: cover;
            object-position: center;
            z-index: 3;
            transition: transform 0.4s ease;
        }
    }

    // details
    .menuDetails {
        display: flex;
        flex: 1;
        border-bottom: 1px solid var(--gold);
        justify-content: space-between;
        gap: 10px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .menuItemText {
            display: flex;
            flex-direction: column;
            height: 100%;

            h3 {
                color: var(--gold);
                font-size: clamp(18px, 4vw, 28px);
                text-transform: capitalize;
            }

            .itemDescription {
                width: 70%;
                margin: auto 0;

                @media (max-width: 768px) {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }

        .menuItemPrice {
            width: 200px;
            color: var(--gold);
            font-size: clamp(16px, 4vw, 28px);
            text-align: end;

            @media (max-width: 768px) {
                width: 100%;
                text-align: left;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 768px) {

    .menuItemCard {
        flex-direction: column;
    }

    .menuItemImgWrapper {
        width: 100%;
        height: 200px;
    }

    .menuDetails {
        flex-direction: column;
    }

    .itemDescription {
        width: 100%;
        margin-top: 10px;
    }

    .menuItemPrice {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
}