.footer{
    background-color: rgba(0, 0, 0, 0.762);

    .footerMainContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        margin: 0 50px;
        gap: 10px;
    
        // left
        .footerLeft{
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;

            .openingHours{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        // middle
        .footerMiddle{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            img{
                height: 50px;
            }
        }
    
        // right
        .footerRight{
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;
            align-items: end;
        }
    }

    .footerCredits{
        text-align: center;
        margin: 0 auto;
        border-top: .5px solid rgba(255, 255, 255, 0.307);
        width: 100%;
        padding: 10px 10px;
        font-size: clamp(12px, 4vw, 15px);

        span{
            text-decoration: underline;
        }
    }
}

@media (max-width: 732px){
    .footer {

        .footerMainContent{
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px 0;
            margin: 0 10px;

            .footerLeft{
                flex: 1; 
                
                span{
                    // display: block;
                }
            }
    
            .footerMiddle{
                flex: 1; 
                text-align: center;

                img{
                    height: 30px;
                }
            }
    
            .footerRight{
                flex: 0 0 100%; 
                justify-content: center;
                flex-direction: row;
            }
        }
    }
}

@media (max-width: 365px){
    .footer {
        .footerMainContent{
            .footerLeft{
                span{
                    display: block;
                }
            }
        }
    }
}