.hero {
    position: relative;
    height: 200vh; 
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    font-family: "Mona Sans", sans-serif;

    // video wrapper
    .videoWrapper {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;

        .heroVideo {
            position: relative;
            width: 100%;
            height: 50%;
            top: 0;
            object-fit: contain;
            z-index: 0;
        }
    }

    // noise overlay
    .noiseFilter {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/images/Hero/noise.png") repeat;
        opacity: 0.5;
        pointer-events: none;
        z-index: 1;
    }

    // main content
    .heroContent {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        padding: 20px;
        width: 100%;

        // heading
        .heroHeading {
            margin-top: 200px;
            font-size: 200px;
            color: #bec3cb;
            visibility: hidden; 
        }

        // text blocks
        .heroText {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .sloganAndIcons {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .heroSlogan {
                color: var(--gold);
                font-size: 50px;
                visibility: hidden; 
                }

                .socialIcons {
                z-index: 4;
                display: flex;
                gap: 20px;
                }
            }

            .paragraphAndBtn {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .heroParagraph {
                    width: 280px;
                    font-size: 18px;
                    visibility: hidden; 
                }

                button {
                    width: 100px;
                }
            }
        }
    }   
}
