.nav {
  .navList {
    display: flex;
    gap: 30px;

    .navListItem {
      position: relative;
      cursor: pointer;
      padding-bottom: 4px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 2px;
        background-color: currentColor;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
