// variables
:root {
  // colors
  --black: #111616;
  --gold: #e6d393;
  --white: #f4f5f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-scroll-behavior="smooth"] {
  scroll-behavior: smooth;
}

html.preScroll body {
  opacity: 0;
}

body {
  overflow-x: hidden;
  color: var(--white);
  background-color: var(--black);
  font-family: var(--body-font);
  transition: opacity 0.3s ease;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button {
  all: unset;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #f4f5f7;
  text-align: center;
  color: var(--black);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--gold);
  }
}

// gradient transition overlay
.gradientTop {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, var(--black), transparent);
    z-index: 2;
    pointer-events: none;
  }
}

.gradientBottom {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, var(--black), transparent);
    z-index: 2;
    pointer-events: none;
  }
}
