// variables
:root {
    // colors
    --black: #111616;
    --gold: #E6D393;
    --body-font-color: #f4f5f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
    color: var(--body-font-color);
    background-color: var(--black);
    font-family: var(--body-font);
}

h1, h2, h3, h4{
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
}

button {
    all: unset;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    color: var(--black);
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
        background-color: var(--gold);
    }
}

.logo{
    height: 30px;
}